asgiref==3.8.1
Django==5.2
Django-Accounts==0.1
django-crispy-forms==2.4
django-filter==25.1
django-jazzmin==3.0.1
django-taggit==6.1.0
django-widget-tweaks==1.5.0
geographiclib==2.0
geopy==2.4.1
git-filter-repo==2.47.0
pillow==11.2.1
sqlparse==0.5.3
