{% extends "base.html" %}
{% load static %}

{% block title %}Home - Real Estate Hub{% endblock %}

{% block content %}
{% include "components/hero.html" %}
{% include "components/categories.html" %}
{% include "components/featured_listings.html" %}
{% include "components/testimonials.html" %}
{% include "components/clients.html" %}
{% include "components/why_us.html" %}
{% include "components/pricing.html" %}
{% include "components/team.html" %}
{% include "components/faq.html" %}
{% include "components/call_to_action.html" %}
{% endblock %}
