<section class="bg-gray-100 dark:bg-gray-900">
  <div class="container max-w-4xl px-6 py-10 mx-auto">
    <h1 class="text-2xl font-bold text-center text-white-800 lg:text-3xl dark:text-white">
      Frequently asked questions
    </h1>

    <div class="mt-12 space-y-8">
      {% for faq in faqs %}
      <div x-data="{ open: false }" class="border-2 border-gray-100 rounded-lg dark:border-gray-700">
        <button @click="open = !open" class="flex items-center justify-between w-full p-8">
          <h2 class="font-semibold text-gray-700 dark:text-white">{{ faq.question }}</h2>

          <span
            class="rounded-full transition-colors duration-300"
            :class="open ? 'text-gray-400 bg-gray-200' : 'text-white bg-blue-500'">
            <!-- Minus icon -->
            <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
            </svg>
            <!-- Plus icon -->
            <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
          </span>
        </button>

        <hr x-show="open" class="border-gray-200 dark:border-gray-700">

        <p x-show="open" x-transition class="p-8 text-sm text-gray-600 dark:text-gray-300">
          {{ faq.answer }}
        </p>
      </div>
      {% empty %}
      <p class="text-center text-gray-400 italic">No FAQs available at this time.</p>
      {% endfor %}
    </div>
  </div>
</section>
