{% extends 'base.html' %}

{% load static %}

{% block title %}{{ house.title }} - Property Details{% endblock %}

{% block content %}
<section class="min-h-screen bg-gradient-to-br from-base-100 to-base-200 py-8 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto">
    <!-- Breadcrumbs -->
    {% include 'partials/breadcrumbs.html' %}

    <!-- Main Property Card -->
    {% include 'partials/main_property_card.html' %}

    <!-- Property Location -->
    {% include 'partials/property_location.html' %}
    
    <!-- Neighborhood Information -->
    {% include 'partials/neighborhood_info.html' %}
    
    <!-- Price History Chart -->
    {% include 'partials/price_history.html' %}
    
    <!-- Similar Properties -->
    {% include 'partials/similar_properties.html' %}

    <!-- Schedule a Visit Form -->
    {% include 'partials/schedule_visit_form.html' %}

    <!-- Testimonials -->
    {% include 'partials/testimonials.html' %}
    
    <!-- Contact Form -->
    {% include 'partials/contact_form.html' %}

  </div>
</section>

<!-- JavaScript -->
<!-- 
{% include 'partials/property_detail_scripts.html' %}
-->
{% endblock %}